@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --font-sans: ui-sans-serif, system-ui, sans-serif;
  --font-mono: ui-monospace, monospace;
}

a {
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}
